body {
    font-size: 16px;
    font-family: "Hiragino Kaku Gothic ProN","メイリオ",sans-serif;
}


.logo img {
    width: 250px;
}

header {
    width: 100%;
    height: 60px;
    background-color: black;
}

header ul {
    list-style: none;
    line-height: 60px;
    margin-left: 15px;
}

header ul li {
    float: left;
    padding-right: 30px;
    padding-left: 30px;
    color: white;
}

#main {
    clear:left;
}

#main .maincontainer {
    width: 95%;
    padding-top: 80px;
}

.left {
    float: left;
    width: 65%;
    margin-left: 5px;
    margin-right:50px;
    margin-bottom: 40px;
}

.left h1 {
    width: 100%;
    border-left:5px solid black;
    border-bottom:2px solid silver;
    padding-left:5px;
}

.left .bs {
    width: 100%;
}

.left h2{ margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    border-left: 4px red solid;
    background-color: #f1f1f1;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    width: 95%;
    font-size: 20px;
}

.left form{ margin: 0 auto;
    background-color: #fbfbfb;
    border: 3px #ebebeb solid;
    border-radius: 10px;
    width: 95%;
}

.left form div{
    padding: 15px;
}

.left .text, textarea, dropdown{
    border: 1px solid #dfdfdf;
    padding: 5px;
    color: #999;
    background: #fff;
}

.left .submit{
    border: 1px solid lightgray;
    padding: 4px 10px;
    color: white;
    background-color: #bfbfbf;
    border-bottom: solid 2px gray;
}

.left h3{ margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    border-bottom: 1px lightgray solid;
    background-color: #fbfbfb;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    font-size: 20px;
}

.left .handlename{
    font-size: 12px;
}

.left .kiji{ margin: 0 auto;
    margin-top: 10px;
    background-color: #fbfbfb;
    border: 3px #ebebeb solid;
    border-radius: 10px;
    width: 95%;
}

.left .kiji div{
    padding: 15px;
}

.right {
    float: left;
    width: 25%;
    margin-bottom: 40px;
    margin-top: 20px;
}

.right h2{
    border-bottom: 2px solid black;
    border-bottom-style:dotted;
}

.right ul{
    list-style-type: none;
}

.right li{
    line-height: 35px;
}


footer {
    clear: left;
    margin-top: 60px;
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 60px;
}

